<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Striped Progress bar
            </h4>
            <div class="progress m-t-20">
              <div
                class="progress-bar bg-primary progress-bar-striped active"
                style="height:10px;"
                [style.width]="getProgress1"
                role="progressbar">
                <span class="sr-only">75% Complete (success)</span>
              </div>
            </div>
            <div class="progress m-t-20">
              <div
                class="progress-bar bg-info progress-bar-striped active"
                style="height:10px;"
                [style.width]="getProgress2"
                role="progressbar">
                <span class="sr-only">75% Complete (success)</span>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment
          (changeValue)="progress1 = $event"
          [value]="progress1">
        </app-increment>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment
          (changeValue)="progress2 = $event"
          [value]="progress2"
          [btnClassName]="'btn btn-info'">
        </app-increment>
      </div>
    </div>
  </div>
</div>
